//
// Beacon Config Sample File
//
// This file serves as a documentation of all configs.
// Since valid JSON cannot contain comments do not use this
// file as a proper conf file.
//
// This is the center of all Beacon customization.
// As you can see it uses JSON for all settings.
// Do not add any plugin settings here.
// Use your own plugin.conf instead.


{
    // Complete URL of your Beacon installation
    "url": "http://localhost/beacon/",

    // This option chooses the backend to be used
    // Possible options: php, python
    "backend": "php",

    // All PHP related settings
    // These are mostly used by javascript
    "php": {
        // Provide all paths relative to the 'url'

        // The one that handles all of the AJAX requests
        "handler": "php/ajax.php",

        // Path to php scripts
        "path": "php/",

        // Path to all javascript
        "scriptpath": "beacon/js/",

        // Path to CSS
        "csspath": "beacon/css/",

        // Path to all images
        "imagepath": "beacon/img/",

        // Path to all plugins
        "pluginpath": "beacon/plugins/",

        // Path to store temporary files
        "tmppath": "php/storage/tmp/",

        // Path to i18n
        "i18npath": "beacon/i18n/",

        // Path to all HTML
        "htmlpath": "beacon/html/",

        // Choose what DB engine is to be used
        "dbtype": "mysql",

        // MySQL specific settings
        "mysql": {
        
          //replace with your database location
          "hostname": "localhost",
          
          //replace with your database name
          "database": "beacon",
          
          //replace with your database username
          "username": "beacon",
          
          //replace with your database password
          "password": "beacon"
          
        },

        "authtype": "db",

        // LDAP specific settings
        "ldap": {
          "account_suffix": "@example.com",
          "base_dn": "DC=example,DC=com",
          "required_group": "",
          "domain_controllers": [
            "dc1.example.com",
            "dc2.example.com"
          ],
          "admin_username": "ldapusername",
          "admin_password": "ldappassword",
          // for optimization
          "real_primarygroup": false, 
          "use_ssl": "",
          "use_tls": "",
          "recursive_groups": "",
          "ad_port": "389",
          "sso": ""
        }


    },



    // All Python related settings
    // Please clone the settings name from PHP above
    "python": {

    },



    // List the plugins here that are to be loaded
    "plugins": [
        "docbook",
        "guidexml"
    ],


    // Language to show
    "language": "en_US",

    // Container in which to display Beacon
    "container": "#container",

    // If the document is root or not.
    // This informs Beacon that it is not the "only" item
    // on the page and loads its CSS/Javascript accordingly
    "isRoot": true,

    // Choose a theme. Themes are available on the JQuery Website.
    "theme": "redmond",

    // Method of storage to be used
    // Currently only flatfile is used
    "storage": "flatfile"
}














